body {
  opacity: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.fake-body {
  font-family: serif;
  color: black;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px;
  overflow: hidden; }

.splash #logo {
  background: url(../resource/images/splash.png) center center no-repeat;
  width: 960px;
  height: 540px; }

.title-header {
  font-size: 2.5em;
  font-style: italic;
  text-shadow: white 2px 2px 3px;
  background: #d3d3d3;
  border-bottom: #aaaaaa solid 4px;
  width: 940px;
  height: 46px;
  padding: 14px 0 0 20px; }

.content {
  position: relative;
  width: 960px;
  height: 476px; }
  .content .menu {
    font-size: 1.15em;
    list-style: none;
    position: absolute;
    width: 148px;
    height: 476px;
    margin: 0;
    border-right: #d3d3d3 solid 2px;
    padding: 0; }
    .content .menu li {
      background: #d3d3d3;
      text-shadow: white 1px 1px;
      box-shadow: black 0px 0px 5px;
      display: block;
      width: 120px;
      margin: 10px;
      border-radius: 4px;
      padding: 5px 1px 5px 10px; }
    .content .menu .menu-item-selected {
      color: white;
      text-shadow: black 1px 1px;
      background: #aaaaaa; }
    .content .menu .menu-item-open {
      padding: 5px 1px 5px 10px; }
  .content .main-content {
    font-family: monospace;
    position: absolute;
    left: 150px;
    width: 810px;
    height: 442px; }

.box {
  display: none;
  width: 790px;
  height: 422px;
  padding: 10px; }
  .box > div {
    display: inline-block;
    float: left;
    vertical-align: top; }

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #d3d3d3; }
  .scrollbar .handle {
    width: 10px;
    background-color: #aaaaaa; }

.calculator-help {
  width: 350px;
  height: 100%; }

#calculator {
  width: 350px;
  height: 100%;
  /* TODO This is not working, learn how to make an element scrollable */
  overflow: scroll; }
  #calculator div {
    text-align: right;
    width: 100%; }
  #calculator .display {
    height: 1em;
    border-bottom: black 1px solid; }
  #calculator .calc-line {
    width: 100%; }
    #calculator .calc-line div {
      display: inline; }
    #calculator .calc-line .operator {
      padding: 0 3px; }

#video-player {
  background-color: black;
  width: 100%;
  height: 100%; }

#fullscreen-placeholder {
  background-color: black;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px; }

#weather-container div {
  display: block;
  float: none; }
#weather-container .weather {
  font-family: sans; }
  #weather-container .weather.conditions {
    text-align: center;
    width: 500px;
    margin-bottom: 50px; }
  #weather-container .weather.forecasts .forecast {
    text-align: center;
    width: 100px;
    display: inline-block;
    align: center; }

#carrousel-container {
  font-size: 1.15em;
  list-style: none;
  width: 810px;
  height: 442px;
  margin: 0;
  border-right: #d3d3d3 solid 2px;
  padding: 0; }
  #carrousel-container .menu-carrousel {
    background: #418415;
    height: 100%;
    width: 20%;
    overflow: scroll; }
    #carrousel-container .menu-carrousel .menu-item-selected {
      background: #aaaaaa; }
    #carrousel-container .menu-carrousel .tumbnail-menu-carrousel {
      max-width: 90%;
      max-height: 50%;
      padding-left: 5%; }
  #carrousel-container .panel-image-carrousel {
    background: #09418f;
    height: 100%;
    width: 80%;
    text-align: center;
    margin-top: middle; }
    #carrousel-container .panel-image-carrousel .main-image {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle; }

.nav-key {
  font-family: sans;
  font-size: 14px;
  color: white;
  background: #888888;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 960px;
  height: 34px;
  display: none;
  z-index: 10000; }
  .nav-key .key-helper {
    position: absolute;
    bottom: 6px; }
    .nav-key .key-helper .key-icon {
      display: inline-block;
      width: 17px;
      height: 16px;
      margin-right: 3px; }
    .nav-key .key-helper .key-desc {
      position: relative;
      top: -3px;
      display: inline-block; }
  .nav-key #nav-up-down {
    left: 9px; }
    .nav-key #nav-up-down .key-icon {
      background: url("../resource/images/button_up-down.png") left top no-repeat; }
  .nav-key #nav-left-right {
    left: 109px; }
    .nav-key #nav-left-right .key-icon {
      background: url("../resource/images/button_left-right.png") left top no-repeat; }
  .nav-key #nav-enter {
    left: 227px; }
    .nav-key #nav-enter .key-icon {
      background: url("../resource/images/button_enter.png") left top no-repeat; }
  .nav-key #nav-return {
    left: 336px; }
    .nav-key #nav-return .key-icon {
      background: url("../resource/images/button_return.png") left top no-repeat; }
  .nav-key #nav-A {
    left: 445px; }
    .nav-key #nav-A .key-icon {
      background: url("../resource/images/button_A.png") left top no-repeat; }
  .nav-key #nav-B {
    left: 554px; }
    .nav-key #nav-B .key-icon {
      background: url("../resource/images/button_B.png") left top no-repeat; }
  .nav-key #nav-C {
    left: 663px; }
    .nav-key #nav-C .key-icon {
      background: url("../resource/images/button_C.png") left top no-repeat; }
  .nav-key #nav-D {
    left: 772px; }
    .nav-key #nav-D .key-icon {
      background: url("../resource/images/button_D.png") left top no-repeat; }

.player-plugin {
  width: 0;
  height: 0;
  border: 0; }
