body {
  opacity: 100%;
  font-family: Georgia, "Nimbus Roman No9 L", serif;
  background: transparent;
  margin: 0;
  padding: 0; }

.fake-body {
  background-color: white;
  color: black;
  position: relative;
  width: 960px;
  height: 540px; }

.splash #logo {
  background: url(../resource/images/splash.png) center center no-repeat;
  width: 960px;
  height: 540px; }

.title-header {
  font-size: 2.5em;
  font-style: italic;
  text-shadow: white 2px 2px 3px;
  background: #d3d3d3;
  border-bottom: #aaaaaa solid 4px;
  width: 940px;
  height: 46px;
  padding: 14px 0 0 20px; }

.content {
  position: relative;
  width: 960px;
  height: 476px; }
  .content .menu {
    font-size: 1.15em;
    font-style: italic;
    list-style: none;
    position: absolute;
    width: 148px;
    height: 476px;
    margin: 0;
    border-right: #d3d3d3 solid 2px;
    padding: 0; }
    .content .menu li {
      background: #d3d3d3;
      text-shadow: white 1px 1px;
      box-shadow: black 0px 0px 5px;
      display: block;
      width: 120px;
      margin: 10px;
      border-radius: 4px;
      padding: 5px 0;
      padding-left: 10px; }
    .content .menu .menu-item-selected {
      color: white;
      text-shadow: black 1px 1px;
      background: #aaaaaa; }
  .content .main-content {
    position: absolute;
    left: 150px;
    width: 810px;
    height: 442px; }

.box {
  display: none;
  width: 790px;
  height: 422px;
  padding: 10px; }
  .box > div {
    display: inline-block;
    float: left;
    vertical-align: top; }

.calculator-help {
  width: 350px;
  height: 100%; }

#calculator {
  width: 350px;
  height: 100%;
  /* TODO This is not working, learn how to make an element scrollable */
  overflow: scroll; }
  #calculator div {
    text-align: right; }
  #calculator .calc-line {
    width: 100%; }
    #calculator .calc-line > * {
      display: inline-block; }

#video-player {
  background-color: black;
  width: 100%;
  height: 100%; }

#fullscreen-placeholder {
  background-color: black;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px; }

.operand {
  display: inline-block; }

.nav-key {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 960px;
  height: 34px;
  background: #888888;
  color: white;
  z-index: 10000; }
  .nav-key .key-helper {
    position: absolute;
    bottom: 6px; }
    .nav-key .key-helper .key-icon {
      display: inline-block;
      width: 17px;
      height: 16px;
      margin-right: 3px; }
    .nav-key .key-helper .key-desc {
      display: inline-block; }
  .nav-key #nav-up-down {
    left: 9px; }
    .nav-key #nav-up-down .key-icon {
      background: url("../resource/images/button_up-down.png") left top no-repeat; }
  .nav-key #nav-left-right {
    left: 109px; }
    .nav-key #nav-left-right .key-icon {
      background: url("../resource/images/button_left-right.png") left top no-repeat; }
  .nav-key #nav-enter {
    left: 227px; }
    .nav-key #nav-enter .key-icon {
      background: url("../resource/images/button_enter.png") left top no-repeat; }
  .nav-key #nav-return {
    left: 336px; }
    .nav-key #nav-return .key-icon {
      background: url("../resource/images/button_return.png") left top no-repeat; }
  .nav-key #nav-A {
    left: 445px; }
    .nav-key #nav-A .key-icon {
      background: url("../resource/images/button_A.png") left top no-repeat; }
  .nav-key #nav-B {
    left: 554px; }
    .nav-key #nav-B .key-icon {
      background: url("../resource/images/button_B.png") left top no-repeat; }
  .nav-key #nav-C {
    left: 663px; }
    .nav-key #nav-C .key-icon {
      background: url("../resource/images/button_C.png") left top no-repeat; }
  .nav-key #nav-D {
    left: 772px; }
    .nav-key #nav-D .key-icon {
      background: url("../resource/images/button_D.png") left top no-repeat; }

.player-plugin {
  width: 0;
  height: 0;
  border: 0; }
