$pageWidth: 960px
$pageHeight: 540px

$gray: #aaa
$lightGray: #d3d3d3

$topmost: 10000

body
    opacity: 100%
    font-family: Georgia, "Nimbus Roman No9 L", serif
    background: transparent
    margin: 0
    padding: 0

.fake-body
    background-color: white
    color: black
    position: relative
    width: $pageWidth
    height: $pageHeight

.splash
    #logo
        background: url(../resource/images/splash.png) center center no-repeat
        width: $pageWidth
        height: $pageHeight

$titleHeight: 64px
.title-header
    font-size: 2.5em
    font-style: italic
    text-shadow: white 2px 2px 3px
    background: $lightGray
    border-bottom: $gray solid 4px
    width: $pageWidth - 20px
    height: 46px
    padding: ($titleHeight - 50px) 0 0 20px

$menuWidth: 150px
$mainWidth: $pageWidth - $menuWidth
$mainHeight: $pageHeight - $titleHeight
.content
    position: relative
    width: $pageWidth
    height: $pageHeight - $titleHeight
    .menu
        font-size: 1.15em
        font-style: italic
        list-style: none
        position: absolute
        width: $menuWidth - 2px
        height: $pageHeight - $titleHeight
        margin: 0
        border-right: $lightGray solid 2px
        padding: 0
        li
            background: $lightGray
            text-shadow: white 1px 1px
            box-shadow: black 0px 0px 5px
            display: block
            width: $menuWidth - 20px - 10px
            margin: 10px
            border-radius: 4px
            padding: 5px 0
            padding-left: 10px
        .menu-item-selected
            color: white
            text-shadow: black 1px 1px
            background: $gray

    .main-content
        position: absolute
        left: 150px
        width: $mainWidth
        height: $mainHeight

.box
    display: none
    width: $mainWidth - 20px
    height: $mainHeight - 20px
    padding: 10px
    > div
        display: inline-block
        float: left
        vertical-align: top


.calculator-help
    width: 350px
    height: 100%

#calculator
    width: 350px
    height: 100% // 180px
    /* TODO This is not working, learn how to make an element scrollable
    overflow: scroll
    div
        text-align: right
    .calc-line
        width: 100%
        > *
            display: inline-block

#video-player
    background-color: black
    width: 100%
    height: 100%

#fullscreen-placeholder
    background-color: black
    display: none
    position: fixed
    top: 0
    left: 0
    width: $pageWidth
    height: $pageHeight

.operand
    display: inline-block

@mixin key-icon-bg($imgUrl)
    .key-icon
        background: url($imgUrl) left top no-repeat

.nav-key
    position: absolute
    left: 0
    bottom: 0
    width: $pageWidth
    height: 34px
    background: #888
    color: white
    z-index: $topmost

    .key-helper
        position: absolute
        bottom: 6px
        .key-icon
            display: inline-block
            width: 17px
            height: 16px
            margin-right: 3px
        .key-desc
            display: inline-block

    $navKeyPad: 9px
    $navKeyWidth: 100px
    #nav-up-down
        left: $navKeyPad
        @include key-icon-bg('../resource/images/button_up-down.png')

    #nav-left-right
        left: $navKeyPad + $navKeyWidth
        @include key-icon-bg('../resource/images/button_left-right.png')

    #nav-enter
        left: $navKeyPad + ($navKeyWidth + $navKeyPad) * 2
        @include key-icon-bg('../resource/images/button_enter.png')

    #nav-return
        left: $navKeyPad + ($navKeyWidth + $navKeyPad) * 3
        @include key-icon-bg('../resource/images/button_return.png')

    #nav-A
        left: $navKeyPad + ($navKeyWidth + $navKeyPad) * 4
        @include key-icon-bg('../resource/images/button_A.png')

    #nav-B
        left: $navKeyPad + ($navKeyWidth + $navKeyPad) * 5
        @include key-icon-bg('../resource/images/button_B.png')

    #nav-C
        left: $navKeyPad + ($navKeyWidth + $navKeyPad) * 6
        @include key-icon-bg('../resource/images/button_C.png')

    #nav-D
        left: $navKeyPad + ($navKeyWidth + $navKeyPad) * 7
        @include key-icon-bg('../resource/images/button_D.png')

// Samsung Player plugin
.player-plugin
    width: 0
    height: 0
    border: 0